body {
  background-color: rgb(235, 235, 235);
}

.mainContainer {
  width: 95%;
  margin: 25px auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper2 {
  display: flex;
  justify-content: space-between;
}

.left, .questionCard {
  background-color: white;
  width: 49%;
  border-radius: 5px;
}

.right, .answerDisplay {
  width: 49%;
}

.right p {
  margin-top: 20px;
}

::placeholder {
  font-size: 15px;
}

input {
  padding: 10px;
}

.formCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.formCard input, .questionHeader input, .addOption input {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

h3, h4 {
  margin: 10px;
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  margin: 10px;
  color: rgb(116, 116, 116);
}

.questionHeader {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.addOption {
  display: flex;
  flex-direction: column;
  margin: -20px 20px 20px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.optionList {
  margin-bottom: 25px;
}

.option {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.option i:hover {
  transform: rotate(-45deg);
} 

button {
  background-color: transparent;
  border: none;
}

.addRemove {
  display: flex;
  margin: -10px 0 20px 20px;
}

.addRemove button {
  border-radius: 5px;
  margin: 5px 5px 5px;
  font-size: 12px;
  padding: 15px;
}

.addQuestion {
  margin-top: 25px;
  border-radius: 5px;
  width: 50%;
  font-size: 12px;
  padding: 15px;
}

.add, .addQuestion {
  width: 150px;
  background-color: #39cc45;
  color: white;
}

.add:hover, .addQuestion:hover {
  background-color: #25882d;
}

.delete {
  width: 150px;
  background-color: #d83f25;
  color: white;
}

.delete:hover {
  background-color: #7a2314;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  color: rgb(116, 116, 116);
}

.answerDisplay li {
  margin-left: 25px;
}

.fa-square {
  margin-right: 10px;
}

@media (max-width: 775px){
  .addRemove button {
    border-radius: 5px;
    margin: 5px 5px 5px;
    font-size: 8px;
    padding: 5px;
  }

  .add, .addQuestion {
    font-size: 8px;
    width: 75px;
    background-color: #39cc45;
    color: white;
  }

  .add:hover, .addQuestion:hover {
    background-color: #25882d;
  }

  .delete {
    width: 75px;
    background-color: #d83f25;
    color: white;
  }
}
