body {
  background-color: rgb(235, 235, 235);
}

.mainContainer {
  width: 95%;
  margin: 25px auto;
}

.wrapper {
  /* width: 90%; */
  /* margin: 50px auto; */
  display: flex;
  justify-content: space-between;
}

.left, .questionCard {
  background-color: white;
  width: 49%;
    border-radius: 5px;

}

.right, .answerDisplay {
  width: 49%;
}

.right p {
  margin-top: 20px;
}

::placeholder {
  /* padding: 10px; */
  font-size: 15px;
}

input {
  padding: 10px;
}

.formCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.formCard input, .questionHeader input, .addOption input {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
}



h3, h4 {
  margin: 10px;
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

p {
  margin: 10px;
  color: rgb(116, 116, 116);

  
}


/* h3 {
  font-size: 2.5rem;
} */

.questionHeader {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.addOption {
  display: flex;
  flex-direction: column;
  margin: -20px 20px 20px;
}

/* .questionHeader input, .addOption input {
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
} */

.questionCard {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

/* .addOption {
  display: flex;
  flex-direction: column;
} */

.optionList {
  margin-bottom: 25px;
}

.option {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

/* .option li {
  margin: -10px 0;
} */

.option i:hover {
  transform: rotate(-45deg);
} 

button {
  background-color: transparent;
  border: none;
}

.addRemove {
  display: flex;
  /* margin: 5px; */
}

.addRemove button {
  border-radius: 5px;
  margin: 10px 5px 0;
  font-size: 12px;
  padding: 15px;
}

.addQuestion {
  margin-top: 25px;
  border-radius: 5px;
  width: 50%;
  font-size: 12px;
  padding: 15px;
}

.add, .addQuestion {
  width: 150px;
  background-color: #39cc45;
  color: white;
}

.add:hover, .addQuestion:hover {
  background-color: #25882d;
}

.delete {
  width: 150px;
  background-color: #d83f25;
  color: white;
}

.delete:hover {
  background-color: #7a2314;
}


ul {
  padding: 0;
}

li {
  list-style-type: none;
  color: rgb(116, 116, 116);
}

.answerDisplay li {
  margin-left: 25px;
}

.fa-square {
  margin-right: 10px;
}







/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


